body{
	 background-color:#e6ccff;
	 padding:1%;
	 

}
header{
	height:60px;
	background-color:#9999ff;
	color:white;

	
	

}
.hea{
	display:flex;
	justify-content: space-around;

}
a{
color:white;
}
*{
	
	
	font-family:sans-serif;
	 text-decoration: none;
	list-style: none;
	margin:0;
	padding:0;

}
.ac{
	display: flex;
}
.ho{
	padding:20px;
	font-size: 19px;
	position:relative;

}
.lien1{
	padding: 8px 15px;
	color:white;

}
.lien1:hover{
	color:#ffe6cc;


}
h1{
	padding:15px ;
	font-size: 25px;

}
.cour{
	display:none;
	position: absolute;
	top:50px;
	
	width:150px;

	border-top:1px solid ;
	background-color: #9999ff;
	border-top-left-radius:5px;
	padding:5px;


}
.cour li{
	padding:8px 0;
	font-size:17px;
	border-bottom:1px solid #ce99ff;
}
.cour li a:hover{
	color:#ffe6cc;

}
.ho:hover .cour{
	display:block;
}
p{
	font-family:Georgia;
	line-height:25px;
	padding-left:4%;
}
h2{
	color:#993366
}
h4{
	color:#8080ff;
	padding-left:3%;
}
th{
	background-color:#bf4080;
}
td{background-color:#ecc6d9}
h3{color:#993366}
form{
	text-align:center;
}
input{
	width:70px;
}
.fix{
	bottom:0px;right:0px;position:fixed;color:#993366;
}